:root {
    --base-font-size: 18px;

    --layout-width-mobile: 327px;
    --layout-width-desktop: 1440px;

    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-red-: hsl(0, 100%, 67%);
    --orangey-yellow-: hsl(39, 100%, 56%);
    --green-teal-: hsl(166, 100%, 37%);
    --cobalt-blue-: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-avender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --pale-red: hsla(0, 100%, 67%, .05);
    --pale-orangey-yellow: hsla(39, 100%, 56%, .05);
    --pale-green-teal: hsla(166, 100%, 37%, .05);
    --pale-cobalt-blue: hsla(234, 85%, 45%, .05);

    --pale-white: rgba(255, 255, 255, 50%);

    font-size: var(--base-font-size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pale-blue);
    max-width: var(--layout-width-desktop);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;
}


#root {
    width: 100%;
    max-width: 740px;
}

main {
    background: var(--white);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
}

button {
    background: var(--dark-gray-blue);
    color: var(--white);
    border-radius: 30px;
    border: none;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 500;
}

.results {
    background-color: var(--light-royal-blue);
    background: linear-gradient(var(--light-slate-blue) 0%,
            var(--light-royal-blue) 100%);
    width: 100%;
    max-width: 370px;
    border-radius: 25px;
    padding: 40px 55px;
    text-align: center;
    color: var(--white);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.results h2 {
    font-size: 1.25rem;
    color: var(--pale-white);
    font-weight: 400;
}

.results h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

.results p {
    color: rgb(255, 255, 255, 0.75);
    font-weight: 300;
    margin-top:-0.5rem;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--violet-blue);
    background: linear-gradient(var(--violet-blue) 0%,
            var(--persian-blue) 100%);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 40px;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 400;
    color: var(--pale-white);
}

.total big {
    font-size: 4rem;
    line-height: 1.1;
    display: block;
    font-weight: 700;
    color: white;
    text-align: center;
}

.summary {
    width: 100%;
    max-width: 370px;
    padding: 2.25rem;
    color: var(--dark-gray-blue);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
}

.summary > h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.score {
    width: 100%;
    border-radius: 10px;
    background: var(--pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.95rem;
    font-weight: 500;
}

.score>img {
    margin-right: 10px;
    font-weight: 400;
}

.score>span.label {
    margin-right: 10px;
    background-image: url("./assets/images/icon-reaction.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 30px;
    font-weight: bold;
    font-weight: 500;
}

.score>span:last-child {
    margin-right: 0;
    color: rgba(0, 0, 0, .5);
}

.score>span:last-child strong {
    color: black;
}

.score.reaction {
    background-color: var(--pale-red);
    color: var(--light-red);
}

.score.memory {
    background-color: var(--pale-orangey-yellow);
    color: var(--orangey-yellow);
}

.score.memory>span.label {
    background-image: url("./assets/images/icon-memory.svg");
}

.score.verbal {
    background-color: var(--pale-green-teal);
    color: var(--green-teal);
}

.score.verbal>span.label {
    background-image: url("./assets/images/icon-verbal.svg");
}

.score.visual {
    background-color: var(--pale-cobalt-blue);
    color: var(--cobalt-blue);
}

.score.visual>span.label {
    background-image: url("./assets/images/icon-visual.svg");
}

.summary>button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.summary>button:hover {
    background: var(--dark-gray-blue);
}

.hanken-grotesk-100 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.hanken-grotesk-200 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.hanken-grotesk-300 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.hanken-grotesk-400 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hanken-grotesk-500 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hanken-grotesk-600 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.hanken-grotesk-700 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hanken-grotesk-800 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.hanken-grotesk-900 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

a.attribution a {
    color: hsl(228, 45%, 44%);
}